GitPython==3.1.44
asttokens==2.0.5
colorcet==3.0.1
cffi==1.15.1
email_validator==2.2.0
httptools==0.6.4
anyio==4.9.0
Twisted==22.10.0
wcwidth==0.2.5
ply==3.11
Markdown==3.4.1
six==1.16.0
python-lsp-black==1.2.1
interegular==0.3.3
markdown-it-py==2.2.0
pydocstyle==6.3.0
qtconsole==5.4.2
bleach==4.1.0
idna==3.4
nvidia-cudnn-cu12==9.1.0.70
jupyterlab-pygments==0.1.2
charset-normalizer==2.0.4
glob2==0.7
inflection==0.5.1
httpx==0.28.1
mistune==0.8.4
watchdog==2.1.6
docstring-to-markdown==0.11
contourpy==1.0.5
aiohttp==3.8.5
jedi==0.18.1
ruamel-yaml-conda==0.17.21
py-cpuinfo==8.0.0
text-unidecode==1.3
pillow==11.1.0
typing-inspection==0.4.0
torchvision==0.21.0
antlr4-python3-runtime==4.13.2
dill==0.3.6
pathspec==0.10.3
navigator-updater==0.4.0
huggingface-hub==0.30.1
backcall==0.2.0
requests-file==1.5.1
imageio==2.31.1
parso==0.8.3
TBB==0.2
Automat==20.2.0
entrypoints==0.4
mdurl==0.1.0
typing_extensions==4.13.0
colorlog==6.9.0
threadpoolctl==2.2.0
hjson==3.1.0
responses==0.13.3
compressed-tensors==0.9.2
DataProperty==1.1.0
dnspython==2.7.0
conda-build==3.26.1
text-to-image==0.0.5
sacrebleu==2.5.1
nvidia-nccl-cu12==2.21.5
msgpack==1.0.3
latex2sympy2_extended==1.0.6
wheel==0.38.4
rfc3986-validator==0.1.1
constantly==15.1.0
bokeh==3.2.1
PyDispatcher==2.0.5
PyJWT==2.4.0
pycountry==24.6.1
sortedcontainers==2.4.0
mbstrdecoder==1.1.4
cloudpickle==2.2.1
pyarrow==19.0.1
pkginfo==1.9.6
isort==6.0.1
tiktoken==0.9.0
itemloaders==1.0.4
Protego==0.1.16
starlette==0.46.1
trl==0.16.0
lxml==4.9.3
regex==2022.7.9
appdirs==1.4.4
jupyter-events==0.6.3
openai==1.70.0
lark==1.2.2
jeepney==0.7.1
astroid==2.14.2
nvidia-cusparse-cu12==12.3.1.170
spacy==3.7.2
scipy==1.11.1
inquirerpy==0.3.4
nvidia-cufft-cu12==11.2.1.3
websockets==15.0.1
tldextract==3.2.0
flake8==6.0.0
numpy==1.26.4
scikit-learn-intelex==20230426.111612
snowballstemmer==2.2.0
keyring==23.13.1
stack-data==0.2.0
cytoolz==0.12.0
cymem==2.0.11
datashape==0.5.4
jupyterlab-widgets==3.0.5
uvicorn==0.34.0
websocket-client==0.58.0
backports.functools-lru-cache==1.6.4
pylint-venv==2.3.0
nvidia-nvjitlink-cu12==12.4.127
qstylizer==0.2.2
prometheus_client==0.21.1
iniconfig==1.1.1
plotly==5.9.0
blis==0.7.11
wrapt==1.14.1
anaconda-anon-usage==0.4.2
jsonschema-specifications==2024.10.1
uvloop==0.21.0
pickleshare==0.7.5
anaconda-project==0.11.1
spacy-loggers==1.0.5
vllm==0.8.2
zstandard==0.19.0
pyflakes==3.0.1
python-slugify==5.0.2
cssselect==1.1.0
confection==0.1.5
multipledispatch==0.6.0
defusedxml==0.7.1
sphinxcontrib-serializinghtml==1.1.5
json5==0.9.6
atomicwrites==1.4.0
multiprocess==0.70.14
srsly==2.5.1
sniffio==1.2.0
typer==0.9.4
filelock==3.18.0
xformers==0.0.29.post2
spacy-legacy==3.0.12
partd==1.4.0
MarkupSafe==2.1.1
pyct==0.5.0
cookiecutter==1.7.3
nltk==3.9.1
conda-repo-cli==1.0.75
pure-eval==0.2.2
seaborn==0.12.2
HeapDict==1.0.1
torchaudio==2.6.0
einops==0.8.1
jupyter==1.0.0
conda==23.7.4
jupyterlab_server==2.22.0
autopep8==1.6.0
kaleido==0.2.1
QDarkStyle==3.0.2
toml==0.10.2
h5py==3.9.0
mpmath==1.3.0
diff-match-patch==20200713
docker-pycreds==0.4.0
python-multipart==0.0.20
ipython==8.15.0
joblib==1.2.0
tenacity==8.2.2
nvidia-curand-cu12==10.3.5.147
portalocker==3.1.1
pyzmq==23.2.0
catalogue==2.0.10
Rtree==1.0.1
hyperlink==21.0.0
jupyter_server_ydoc==0.8.0
bitsandbytes==0.45.4
poyo==0.5.0
service-identity==18.1.0
accelerate==1.4.0
munkres==1.1.4
requests==2.32.3
jsonschema==4.23.0
outlines==0.1.11
wandb==0.19.8
rich==14.0.0
partial-json-parser==0.2.1.1.post5
rfc3339-validator==0.1.4
clyent==1.2.2
jupyterlab==3.6.3
parsel==1.6.0
zope.interface==5.4.0
jellyfish==1.0.1
tokenizers==0.21.1
imagesize==1.4.1
cloudpathlib==0.16.0
mdit-py-plugins==0.3.0
alabaster==0.7.12
tzdata==2023.3
soupsieve==2.4
beautifulsoup4==4.12.2
boltons==23.0.0
terminado==0.17.1
safetensors==0.5.3
sphinxcontrib-devhelp==1.0.2
math-verify==0.5.2
jiter==0.9.0
tcolorpy==0.1.7
certifi==2023.7.22
mkl-fft==1.3.8
gmpy2==2.1.2
lazy-object-proxy==1.6.0
jupyter-console==6.6.3
setproctitle==1.3.5
outlines_core==0.1.26
torch==2.6.0
jmespath==0.10.0
scikit-learn==1.3.0
tblib==1.7.0
fastapi-cli==0.0.7
opencv-python-headless==4.11.0.86
textdistance==4.2.1
airportsdata==20250224
mistral_common==1.5.4
chardet==4.0.0
botocore==1.29.76
smmap==5.0.2
e2b==1.3.2
langcodes==3.5.0
anaconda-catalogs==0.2.0
argon2-cffi==21.3.0
zict==2.2.0
distributed==2023.6.0
nest-asyncio==1.5.6
notebook==6.5.4
nvidia-cublas-cu12==12.4.5.8
brotlipy==0.7.0
Werkzeug==2.2.3
debugpy==1.6.7
notebook_shim==0.2.2
python-json-logger==2.0.7
pandocfilters==1.5.0
referencing==0.36.2
langdetect==1.0.9
black==0.0
sympy==1.13.1
aiosqlite==0.18.0
widgetsnbextension==4.0.5
triton==3.2.0
ninja==1.11.1.4
parameterized==0.9.0
python-lsp-jsonrpc==1.0.0
tqdm==4.67.1
typepy==1.3.4
e2b-code-interpreter==1.2.0
ruamel.yaml==0.17.21
nbconvert==6.5.4
frozenlist==1.3.3
bcrypt==3.2.0
numexpr==2.8.4
sentencepiece==0.2.0
llvmlite==0.43.0
statsmodels==0.14.0
pfzy==0.3.4
PyWavelets==1.4.1
deepspeed==0.15.4
aioitertools==0.7.1
watchfiles==1.0.4
param==1.13.0
transformers==4.50.0
fastapi==0.115.12
datasets==3.5.0
intake==0.6.8
aenum==3.1.15
mkl-service==2.4.0
sphinxcontrib-htmlhelp==2.0.0
yapf==0.31.0
argon2-cffi-bindings==21.2.0
backports.weakref==1.0.post1
conda_package_streaming==0.9.0
nbclassic==0.5.5
pep8==1.7.1
backports.tempfile==1.0
sphinxcontrib-applehelp==1.0.2
pyerfa==2.0.0
intervaltree==3.1.0
s3fs==2023.4.0
docutils==0.18.1
click==8.1.8
pkce==1.0.3
nvidia-cusolver-cu12==11.6.1.9
ujson==5.4.0
matplotlib-inline==0.1.6
jupyter_client==7.4.9
whatthepatch==1.0.2
wasabi==1.1.3
panel==1.2.3
itemadapter==0.3.0
comm==0.1.2
aiofiles==22.1.0
sip==6.6.2
sphinxcontrib-jsmath==1.0.1
ipython-genutils==0.2.0
lm-format-enforcer==0.10.11
pathvalidate==3.2.3
pexpect==4.8.0
binaryornot==0.4.4
async-timeout==4.0.2
openpyxl==3.0.10
fonttools==4.25.0
anaconda-cloud-auth==0.1.3
ypy-websocket==0.8.2
requests-toolbelt==1.0.0
Send2Trash==1.8.0
python-dateutil==2.8.2
w3lib==1.21.0
imagecodecs==2023.1.23
gensim==4.3.0
fonts==0.0.3
cycler==0.11.0
conda-token==0.4.0
hf_transfer==0.1.9
future==0.18.3
libmambapy==1.5.1
locket==1.0.0
lz4==4.3.2
nvidia-nvtx-cu12==12.4.127
blake3==1.0.4
mkl-random==1.2.4
nbclient==0.5.13
zipp==3.11.0
decorator==5.1.1
PyQt5-sip==12.11.0
shellingham==1.5.4
platformdirs==3.10.0
aiobotocore==2.5.0
nvidia-cusparselt-cu12==0.6.2
pyls-spyder==0.4.0
ipywidgets==8.0.4
Sphinx==5.0.2
python-dotenv==0.21.0
QtAwesome==1.2.2
marisa-trie==1.2.1
xxhash==2.0.2
wurlitzer==3.0.2
queuelib==1.5.0
pycparser==2.21
setuptools==68.0.0
holoviews==1.17.1
tables==3.8.0
cachetools==5.5.2
datashader==0.15.2
libarchive-c==2.9
astropy==5.1
prompt-toolkit==3.0.36
numpydoc==1.5.0
linkify-it-py==2.0.0
conda-verify==3.4.2
QtPy==2.2.0
pathlib==1.0.1
tabledata==1.3.4
pyOpenSSL==23.2.0
rpds-py==0.24.0
pyrsistent==0.18.0
scikit-image==0.20.0
colorama==0.4.6
distro==1.9.0
pydantic_core==2.33.0
mypy-extensions==1.0.0
conda-package-handling==2.2.0
rich-toolkit==0.14.1
conda-content-trust==0.2.0
psutil==5.9.0
protobuf==3.20.3
spyder-kernels==2.4.4
packaging==24.2
Bottleneck==1.3.5
itsdangerous==2.0.1
pyasn1==0.4.8
dask==2023.6.0
traitlets==5.7.1
pylint==2.16.2
pluggy==1.0.0
importlib-metadata==6.0.0
xarray==2023.6.0
python-lsp-server==1.7.2
anaconda-navigator==2.5.0
tornado==6.3.2
preshed==3.0.9
tomlkit==0.11.1
daal4py==2023.1.1
PySocks==1.7.1
pycodestyle==2.10.0
jsonpointer==2.1
rope==1.7.0
rouge-score==0.1.2
fastjsonschema==2.16.2
pip==23.2.1
SecretStorage==3.3.1
Pygments==2.15.1
Babel==2.11.0
jsonpatch==1.32
pydantic==2.11.1
more-itertools==8.12.0
h11==0.14.0
annotated-types==0.7.0
termcolor==2.3.0
depyf==0.18.0
llguidance==0.7.11
nvidia-ml-py==12.570.86
aiosignal==1.2.0
ptyprocess==0.7.0
imbalanced-learn==0.10.1
spyder==5.4.3
gguf==0.10.0
multidict==6.0.2
ray==2.44.1
prometheus-fastapi-instrumentator==7.1.0
three-merge==0.1.1
pyodbc==4.0.34
PyYAML==6.0
pandas==2.0.3
language_data==1.3.0
pytz==2023.3.post1
absl-py==2.2.1
cupy-cuda12x==13.4.1
hvplot==0.8.4
tifffile==2023.4.12
y-py==0.5.9
thinc==8.2.5
sphinxcontrib-qthelp==1.0.3
sentry-sdk==2.25.0
tinycss2==1.2.1
webencodings==0.5.1
nvidia-cuda-nvrtc-cu12==12.4.127
matplotlib==3.7.2
font-roboto==0.0.1
python-snappy==0.6.1
uc-micro-py==1.0.1
executing==0.8.3
lighteval==0.6.0.dev0
fastrlock==0.8.3
Scrapy==2.8.0
diskcache==5.6.3
nvidia-cuda-cupti-cu12==12.4.127
ruff==0.11.2
urllib3==1.26.16
patsy==0.5.3
toolz==0.12.0
mccabe==0.7.0
conda-pack==0.6.0
Unidecode==1.2.0
httpcore==1.0.7
pytoolconfig==1.2.5
jupyter-ydoc==0.2.4
conda-libmamba-solver==23.7.0
weasel==0.3.4
et-xmlfile==1.1.0
yarl==1.8.1
pycosat==0.6.4
flash_attn==2.7.4.post1
anaconda-client==1.12.1
pytest==7.4.0
tabulate==0.8.10
murmurhash==1.0.12
incremental==21.3.0
nbformat==5.9.2
arrow==1.2.3
jinja2-time==0.2.0
ipykernel==6.25.0
nvidia-cuda-runtime-cu12==12.4.127
xyzservices==2022.9.0
kiwisolver==1.4.4
numba==0.60.0
attrs==25.3.0
greenlet==2.0.1
Flask==2.2.2
gitdb==4.0.12
liger_kernel==0.5.3
Jinja2==3.1.6
pyparsing==3.0.9
astor==0.8.1
lmdb==1.4.1
pyasn1-modules==0.2.8
msgspec==0.19.0
networkx==3.1
cryptography==41.0.3
conda_index==0.3.0
jupyter_server_fileid==0.9.0
xgrammar==0.1.16
jupyter-server==1.23.4
jupyter_core==5.3.0
fsspec==2024.12.0
lazy_loader==0.2
jaraco.classes==3.2.1
pycurl==7.45.2
pytablewriter==1.2.1
smart-open==5.2.1
pyxdg==0.27
SQLAlchemy==1.4.39
pyviz-comms==2.3.0
open-r1==0.1.0.dev0
